body,
html {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

body>svg>g#meshes {
    display:none;
}

body>svg>g#layers>path {
    fill: none;
    stroke: black;
    stroke-width: 0.75px;
}

body>svg>g#hooks>g>circle {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

body>svg>g#hooks>g>circle {
    fill: lawngreen;
    stroke: transparent;
    stroke-width: 2px;
}

body>svg>g#hooks>g.active>circle {
    stroke: red;
    stroke-width: 0.75px;
}

body>svg>g#hooks>g.active>circle:hover {
    fill: red;
}

body>div.hidden {
    display: none;
}

body>div {
    display: flex;
    gap: 5px;
    position: fixed;
    padding: 5px;
}

body>div div,
body>div>button {
    border: none;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    background-color: cadetblue;
    color: white;
}

body>div>label>input {
    display: none;
}

body>div>label {
    position: relative;
    display: block;
    padding: 0;
}


body>div>label>input[type="checkbox"]:checked~div,
body>div>label>input[type="radio"]:checked~div {
    background-color: chocolate;
}

body>div>button:hover,
body>div>label>div:hover {
    background-color: darksalmon;
}