body,
html {
    margin: 0;
    padding: 0;
}

body>svg {
    width: 100%;
    height: 100%
}

body>svg>path {
    fill: none;
    stroke: black;
    stroke-width: 0.75px;
}

body>svg>circle {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

body>svg>circle:hover {
    fill: red;
}

body>div {
    display: none;
    position: absolute;
    width: 100%;
    text-align: right;
}

body>div.active {
    display: block;
}